.navbar {
  background-color: #300d4f;
}

.navbar .container .navbar-brand {
  color: #00de72;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link  {
  color: #00de72;
}

.yy-bg-primary {
  background-image: linear-gradient(174deg, #300d4f 41%, #3f0b9c 98%, #1c31a7);
}

.yy-hero-header-text {
  color: #00de72;
}

.yy-hero-text {
  color: white;
}

.tag {
background-image: linear-gradient(174deg, #300d4f 41%, #3f0b9c 98%, #1c31a7);
}

.movie-title {
  color: #300d4f;
}